<div class="columns">
  <div class="side-nav column is-3">
    <ul>
      <% @cheatsheets.each do |cheatsheet| %>
        <li><%= link_to cheatsheet.title, cheatsheet_path(cheatsheet) %> (in <em><%= cheatsheet.category %></em>)</li>
      <% end %>
    </ul>
  </div>

  <div class="content column is-9 is-offset-3">
    <div class="show-page">
      <% @cheatsheets.each do |cheatsheet| %>
      <div class="content-wrapper">
        <div class="category-container">
          <div class="language-icon">
            <% if cheatsheet.category == 'HTML' %>
              <%= image_tag('HTML5.svg') %>
            <% end %>
            <% if cheatsheet.category == 'Ruby on Rails' %>
              <%= image_tag('rails.svg') %>
            <% end %>
            <% if cheatsheet.category == 'CSS' %>
              <%= image_tag('CSS.svg') %>
            <% end %>
            <% if cheatsheet.category == 'Javascript' %>
              <%= image_tag('javascript.svg') %>
            <% end %>
          </div>
          <p>Published in <strong><%= cheatsheet.category %></strong></p>
        </div>
        <h1><%= cheatsheet.title %></h1>
        <%= cheatsheet.body.html_safe %>
    </div>
    <% end %>
  </div>
</div>
